.animated-bg {
  background: linear-gradient(-45deg, #0f172a, #1e3a8a, #0c4a6e, #1e40af);
  background-size: 400% 400%;
  animation: move-bg 15s ease infinite;
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (max-width: 350px) { 
  .responsive-input {
    flex-direction: column;
  }
}
